/3DMark/
**/Benchmarks Heaven/
**/Blackmagic Design/
**/Overwatch/
**/Sound recordings/
**/StarCraft II/
biletter.pdf
discord_backup_codes.txt
G403FirmwareUpdate.log
Overclock_stats.txt
Puma*Run.pdf
Rune*GPU.pdf
Steam*receipt.pdf
desktop.ini
